body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.header {
    background-color: black;
    height: 50px;
    width: 100%;
}

.content {
    display: flex;
    height: calc(100% - 100px); /* Adjust height based on header and footer */
}

.left-sidebar {
    background-color: yellow;
    width: 50%;
    height: 100%;
}

.main-content {
    background-color: green;
    width: 50%;
    height: 100%;
}

.footer {
    background-color: rgb(4, 0, 255);
    height: 50px;
    width: 100%;
}
